.btn--bubble {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(200, 90%, 70%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

.btn--bubble::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #0089ef;
  transform-origin: center;
  transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.btn--bubble:hover {
  cursor: pointer;
  color: #ffffff;
}

.btn--bubble:hover::before {
  transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}
