.btn--side {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(200, 90%, 70%);
}

.btn--side::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0089ef;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.btn--side:hover {
  cursor: pointer;
}

.btn--side:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
